.searchPage__info {
    padding: 21px;
}

.searchPage__info > p {
    margin-bottom: 11px;
    font-size: 13px;
}

.searchPage__info > h1 {
    margin-bottom: 34px;
}

.searchPage__info > button {
    border-radius: 34px;
    text-transform: inherit;
    margin: 5px;
}